.chart-container-pie {
    width: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;

}

.flex-container-pie {
    display: flex;
    justify-content: center;
    align-items: center;
}